.flex{
    width: 100%;

}

.container-1{
    width: 300px; 
    height: 100vh;
}

.anchor-styles a  {
  text-decoration: none;
  color: #14171A;
  font-style: bold;
  font-size: 18px;
}

.tweet-bar-styles {
  text-align: center;
}

.container-1 a:hover {
  border-radius: 25px;;
  background-color: #E1E8ED;
}

.tweet-bar{
  height: 310px;
}
 
.right-side-bar {
  font-size: smaller;
  width: 200px;
}

.right-side-bar:hover{
  background-color: #b9bdc04a;
}

/* Andreas */

.center-content{
    width: 600px;
}

.img{
    width: 60px;
    height: 60px;
}


.text > input{
    border: none;
}

.input:focus{
    outline: none;
}


.bar  a:link{
    text-decoration: none;
}

.bar a:visited{
    text-decoration: none;
}


.home {
    width: 600px; 
}
.bar-2{
    list-style: none;
}


.bar-2 a:link{
    text-decoration: none;
}

.bar-2 a:visited{
    text-decoration: none;
}


.post-footer{
    display: flex;
    justify-content: space-between;
}

.tweet > a:visited{
    text-decoration: none;
    color: white;
}

/* Johan */
.right-side {
    width: 300px;
    height: 150vh;
  }
   Search  
  
   /* Right-side trends  */
  
  .trends-container {
    font-size: xx-small;
  }
  
  .button-trend {
    border-color: transparent;
  }
   /* follow-for-you */ 
  
  .user-follow-space {
  }
  .user-follow-space >:nth-child(3) {
    margin-top: 5px;
    margin-left: auto;
  }
/*   follow you text */ 
  
  .follow-you {
  }
  
  .user-follow-name {
    font-size: 10px;
  }
/* BUTTONS*/
  
  .button-follow,
  .button-show-more {
    font-size: 12px;
    border-color: transparent;
    border-radius: transparent;
  }
  
  .button-show-more {
  }
  
   /* footer  */
  .footer-links ul {
    list-style: none;
    font-size: x-small;
  }
  
  .footer-links > a {
    list-style: none;
  }
  
/*    Media Queries  */
/* pc */
@media all and (max-width: 1050px) {
  .container-1 {
    width: 10%;
   padding-left: 150px; 
  }
  .container-1 ul {
    visibility: hidden;
  }

i{
  visibility: visible;
}
}
/* tablet */
@media all and (max-width: 955px ) {
.right-side{
  visibility: hidden;
}

}
/* mobile */

  

  
  
  










